%h3 Admin...for the win, it rhymes!

%p
  %strong
    = link_to("Invites:", admin_beta_invites_path)
  = BetaInvite.count
%p
  %strong
    = link_to("Apps:", admin_apps_path)
  = App.count
%p
  %strong
    Users:
  = User.count
%p
  %strong
    Reports:
  = Report.count