.centered-form
  = form_for @beta_invite do |form|
    %fieldset
      %h2 Beta Invite
      .invite-explanation
        %p We are currently in our beta phase, meaning we're working out the last kinks.
        %p We'd love your help in making crashbucket an awesome service, so if you're interested please provide us with your email address and you should get an invite to join shortly. Thanks!
      %ul
        %li
          = form.label :email
          = form.text_field :email
        %li.submit
          = form.submit "Submit"
  .right.small
    Already have an account?
    = link_to("Sign in", login_path)