.centered-form
  = form_for @user do |form|
    %fieldset
      %h2 Create An Account
      %ul
        %li
          = form.label :email
          = form.text_field :email
        %li
          = form.label :password
          = form.password_field :password
        %li
          = form.label :password_confirmation, "Password (again)"
          = form.password_field :password_confirmation
        %li.submit
          = form.submit "Create Account"
  .right.small
    Already have an account?
    = link_to("Sign in", login_path)