.signup
  = link_to('Sign up', signup_path, :class => 'button')
  Already have an account?
  = link_to("Sign in", login_path)

.diagram= image_tag('/images/home-diagram.jpg')

.download
  %h1 Download
  .icon= link_to(image_tag('/images/disk.jpg', :width => '63', :height => '66'), "https://s3.amazonaws.com/guicocoa_downloads/libcrashreport.zip")
  .text
    %p= link_to("Click to download", "https://s3.amazonaws.com/guicocoa_downloads/libcrashreport.zip")
    %p Version 1.3
    %p 66 kb
  .arrow= link_to("", "https://s3.amazonaws.com/guicocoa_downloads/libcrashreport.zip")

.instructions
  %h1 Instructions
  %ul
    %li
      Include
      %em GCCrashReport.h
      and
      %em libcrashreport.a
      in your project
    %li
      Include the
      %em SystemConfiguration
      framework in your project
    %li
      %strong Copy the following line into your
      %em application:didFinishLaunchingWithOptions:
    %li.code
      = '<code>[<span style="color:#400080;">GCCrashReport beginWatchingforCrashesWithAPIKey</span>:<span style="color:#C86A59;">&lt;# your api key #&gt;</span> <span style="color:#400080;">delegate</span>:<span style="color:#A61390;">self</span>];</code>'.html_safe