= content_for :breadcrumb do
  #breadcrumb_container
    #breadcrumb_content
      %span= current_user.email
      :plain
        &nbsp;&bull;&nbsp;
      %span apps
%h2{ :style => "margin-left:90px;display:inline;" } Apps
= link_to "New App", new_app_path, :style => "float:right;margin-right:60px;margin-top:3px;"
%table
  %tr{ :id => "table_header" }
    %th{ :class => "first app_status" }
    %th{ :class => "app_name" } name
    %th{ :class => "app_key" } api key
    %th{ :class => "last app_reports" } crash reports
  - @apps.each do |app|
    %tr{ :class => "table_row" }
      %td
      %td= link_to app.name, app
      %td= app.api_key
      %td
        - count = app.reports.count
        - if count == 0
          no reports
        - elsif count == 1
          1 report
        - else
          = "#{count} reports"
