= content_for :head do
  :css
    div#main_container {
      min-height:500px;
    }
#form_container
  = form_for @app do |form|
    %fieldset
      %h2 New App
      %ul
        %li
          = form.label :name
          = form.text_field :name
        %li
          = form.label :bundle_identifier
          = form.text_field :bundle_identifier
        %li.submit
          = form.submit "Create App"