= content_for :breadcrumb do
  #breadcrumb_container
    #breadcrumb_content
      %span= current_user.email
      :plain
        &nbsp;&bull;&nbsp;
      %span= link_to "apps", apps_path
      :plain
        &nbsp;&bull;&nbsp;
      %span= @app.name.downcase
%h2{ :style => "margin-left:53px;display:inline;" }= @app.name
%ul{ :style => "list-style:none;padding:0px;margin-bottom:0px;margin-left:53px;" }
  %li
    %strong identifier
    = @app.bundle_identifier
  %li
    %strong api key:
    = @app.api_key
%table
  %tr{ :id => "table_header" }
    %th{ :class => "first report_name" } exception name
    %th{ :class => "report_date" } last reported
    %th{ :class => "last report_count" } count
  - @app.reports.each do |report|
    %tr{ :class => "table_row" }
      %td= link_to report.exc_name, [@app, report]
      %td
        = time_ago_in_words report.updated_at
        ago
      %td
        = pluralize(@app.reports_count, "time")