.centered-form
  = form_for @user, :as => :user_session, :url => user_sessions_path do |form|
    %fieldset
      %h2 Log in
      %ul
        %li
          = form.label :email
          = form.text_field :email
        %li
          = form.label :password
          = form.password_field :password
        %li.submit
          = form.submit "Log in"
  .right.small
    Need an account?
    = link_to("Sign up", signup_path)