#form_container
	%h2 Sign In

	= form_for @user, :as => :user_session, :url => user_sessions_path do |form|
		= form.label :email, "Email Address"
		%br/
		= form.text_field :email, :class => "text_input"
		%br/
		= form.label :password, "Password"
		%br/
		= form.password_field :password, :class => "text_input"
		%br/
		= form.check_box :remember_me
		= form.label :remember_me, 'Remember me on this computer'
		%br/
		= form.submit "Log In", :class => "button_input"
		%br/
		= #link_to "I forgot my password", new_password_reset_path, :class => 'small right-side no-border'
	
	.clear