= render 'options'

.report-info
  %h2= @report.exc_name

  %ul
    %li
      %strong reason:
      = @report.exc_reason
    %li
      %strong device:
      = @report.device
    %li
      %strong os version:
      = @report.os_version
    %li
      %strong app version:
      = @report.app_version
    %li
      %strong last reported:
      = time_ago_in_words @report.updated_at
      ago
    %li
      %strong count:
      = @report.count
  %span
    %strong backtrace:
  %pre{ :style => "font-size:12px;margin:0px auto;width:900px" }= @report.backtrace

  -# convertor = Syntax::Convertors::HTML.for_syntax "text"
  -# %div.backtrace
    -# = convertor.convert("#{@report.backtrace}").html_safe