%h1= @report.exc_name

%ul
	%li= @report.exc_reason
	%li= @report.device
	%li= @report.os_version
	%li= @report.app_version
	%li= @report.count

- convertor = Syntax::Convertors::HTML.for_syntax "text"

%div.backtrace
	= convertor.convert("#{@report.backtrace}").html_safe