!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "" }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "" }
    = csrf_meta_tag
    %link{ :id => 'favicon', :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }/
    %title
      crashbucket - iPhone crash tracking
    = stylesheet_link_tag 'about', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = yield :head

  %body
    #wrap
      #main.clearfix
        #header
          .insides
            #logo
        #mid
          .insides
            = yield
    #ie6_pwnage
      = "We've noticed you're using a pretty old browser and we're sad that you're missing out on so much!"
      %strong= "Please upgrade to one of these free browsers:"
      %ul
        %li= link_to('Firefox', 'http://getfirefox.com')
        %li= link_to('Chrome', 'http://google.com/chrome')
        %li= link_to('IE8', 'http://www.microsoft.com/windows/internet-explorer/default.aspx')
    #footer
      .insides
    = #render 'shared/analytics'