%html
  %head
    %title libcrashreport &bull; #{@title}
    = stylesheet_link_tag "application-v2"
    = csrf_meta_tag
    = yield :head
  %body
    #header_container
      #header_content
        %h1{ :id => "site_title" } libcrashreport
        %ul{ :id => "site_links"}
          - if current_user
            %li= link_to "log out", logout_path
          - else
            %li= link_to "log in", login_path
        .clear
    = yield :breadcrumb
    #main_container
      #main_content
        = yield
        .clear
    #footer_container
      #footer_content
        - if request.user_agent.include? "MSIE"
          %p{ :style => "margin-bottom:10px;" }
            get a
            %a{ :href => "http://abetterbrowser.org" } better browser
        %p
          this is a
          %a{ :href => "http://guicocoa.com" } gui cocoa
          and
          %a{ :href => "http://weretwoguys.com" } two guys
          project
        %p
          copyright ©
          = Time.now.year
        .clear