!!!
%html
  %head
    %title Crash Report App
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    - if current_user
      = link_to "You're signed in"
      = link_to "Sign out", signout_path
    - else
      = link_to "Sign in", signin_path
      = link_to "Sign up", new_user_path
    = yield
