!!!
%html{html_attrs('en')}
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "Description", "http-equiv" => "Description", :content => "" }
    %meta{ :name => "Keywords", "http-equiv" => "Keywords", :content => "" }
    %meta{ :name => "robots", :content => "noindex" }
    = csrf_meta_tag
    %link{ :id => 'favicon', :href => '/favicon.ico', :rel => 'icon', :type => 'image/x-icon' }/
    %title
      - if @title
        crashbucket - #{@title}
      - else
        crashbucket - iPhone crash tracking
    = stylesheet_link_tag 'tables', :media => 'screen, projection'
    = stylesheet_link_tag 'app', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'
    = javascript_include_tag 'jquery-1.4.2.min'
    = javascript_include_tag 'jquery.tablesorter.min'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = yield :head

  %body
    #wrap
      #main.clearfix
        #header
          .insides
            = link_to('home', root_path, :id => 'logo')
            - if current_user
              #user-info
                %strong= current_user.email
                = link_to('admin', admin_dashboard_path) if current_user.admin?
                = link_to('sign out', logout_path)
        #mid
          #flash
            = render 'shared/flash', :flash => flash
          .insides
            - if @admin
              = yield
            - else
              = render 'shared/apps'
    #ie6_pwnage
      = "We've noticed you're using a pretty old browser and we're sad that you're missing out on so much!"
      %strong= "Please upgrade to one of these free browsers:"
      %ul
        %li= link_to('Firefox', 'http://getfirefox.com')
        %li= link_to('Chrome', 'http://google.com/chrome')
        %li= link_to('IE8', 'http://www.microsoft.com/windows/internet-explorer/default.aspx')
    #footer
      .insides
        this is a
        %a{ :href => "http://guicocoa.com" } gui cocoa
        and
        %a{ :href => "http://weretwoguys.com" } two guys
        project - copyright ©
        = Time.now.year
    = render 'shared/analytics'